<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://s1.ax1x.com/2022/04/20/LyFFUg.png"
    />
    <link rel="stylesheet" href="/bw-mobile-doc/umi.f875a097.css" />
    <script>
      window.routerBase = "/fuck";
    </script>
    <script>
      //! umi version: 3.5.23
    </script>
    <script>
      !(function () {
        var e = localStorage.getItem("dumi:prefers-color"),
          t = window.matchMedia("(prefers-color-scheme: dark)").matches,
          r = ["light", "dark", "auto"];
        document.documentElement.setAttribute(
          "data-prefers-color",
          e === r[2] ? (t ? r[1] : r[0]) : r.indexOf(e) > -1 ? e : r[0]
        );
      })();
    </script>
    <title>Input - 输入框 - Blue Whale Mobile</title>
  </head>
  <body>
    <div id="root"></div>

    <script src="/bw-mobile-doc/umi.8fa4ba5a.js"></script>
  </body>
</html>
